

/* #### 1.- Global Styles #### */
/* body {
    margin: 40px;
  } */

  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
 }
 
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
  }
 
  body > * {
    font-family: 'Lato', sans-serif;
    line-height: 1.4;
  }
 
  img {
    max-width: 100%;
    height: auto;
  }
 
  h1, h2, h3, h4 {
    font-family: 'Nunito', sans-serif;
    line-height: 1;
  }
 
  h1 {
    font-size: 2.5rem;
  }
 
  h2 {
    font-size: 2rem;
  }
 
  h3 {
    font-size: 1.6rem;
  }
 
  h4 {
    font-size: 1.4rem;
  }
 
  p {
    line-height: 1.4;
  }
 
 a {
   color: #36bae6;
   font-weight: bold;
 }
 
 a:hover {
   color: #e06630;
 }
 
 i {
   padding-left: .5rem;
 }

 /* ############ 2. Hero ############ */
.hero {
    background: url("../images/header1_sm.jpg") no-repeat center right;
    background-size: cover;
    color: #1f0505;
    font-size: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 10px 2fr 10px;
    /* grid-template-rows: .5fr 1fr 20px; */
    grid-gap: 20px;
   }
  
  .hero img {
    margin: auto;
    padding-top: 1rem;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  .hero article {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  .hero h1 {
    font-size: 2rem;
    text-transform: uppercase;
  }
  
  /* .hero button {
    background-color: #fff;
    border: none;
    border-radius: 4px;
    color: #2abadf;
    font-size: 1rem;
    padding: 5px 10px;
    margin: .75rem auto 0;
  } */

  /* ############ 3. Navigation ############ */
/* .logo {
    max-width: 90px;
   } */


/* == Navigation Bar === */
.navigation {
    align-content: center;
    width: 100%;
    /* padding: 15px 10px; */
    /* grid-area: navigation; */
    font-size: 10px;
    /* background-color: #979c9c; */
    display: flex;
    align-items: center;
    justify-content: center;
}
input#navToggle {
    display: none;
}

input#navToggle ~ label {
    position: relative;
    padding: 0.25rem;
    width: 2rem;
    height: 1.25rem;
    height: 2rem;
  }

  input#navToggle ~ label > span,
  input#navToggle ~ label > span::before,
  input#navToggle ~ label > span::after {
    content: "";
    display: block;
    position: absolute;
    top: .75rem;
    height: 0.125rem;
    width: 1.75rem;
    opacity: 1;
    background: #fff;
    transition: 0.14s ease-in-out;
  }
  
.navigation a {
    text-decoration: none;
    font-size: 16px;
    color:rgb(255, 255, 255);
    padding: 10px 10px 10px 10px;
    display: block;
    text-transform: uppercase;
    width: 180px;
    justify-content: center;
}
.navigation ul {
    list-style: none;
}

.navigation ul li {
    position: relative;
    display: inline-block; /* display in one line*/
    background: rgb(28, 208, 231);
    text-align: center;
    border-right: 1px solid #09023b;
    cursor:pointer;
    border-radius: 5px;
}

.navigation ul li:hover{
    background: #000;
}


.navigation ul li:hover ul {
    left: 0;
}


.navigation ul li ul {
    position: absolute;
    left: -99999px;
    width: 150px;
    top: 48px;
    padding: 0;
}

/* ############ 4. Trips ############ */
.trips {
    padding: 1rem;
    margin: auto;
    max-width: 1200px;
  }
  
  .trips article {
    margin: 2rem auto;
    width: 80%;
    max-width: 1000px;
    align-content: center;
  }
  
  .trips h1 {
    color: #3abadf;
    font-size: 3rem;
    margin-left: 1rem;
    /* align-content: center; */
  }
  
  .trips article p {
    border-left: solid 1px #dedede;
    padding-left: 1rem;
  }
  
  .tripList {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 1rem;
  }
  
  .tripList li {
    background-color: rgba(255,255,255,.9);
    border-radius: 6px;
    border: solid 1px #dedede;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 1.8rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(140px, 1fr) auto;
  }
  
  .tripList h3, .tripList img {
    grid-row: 1 / 2;
    grid-column: 1;
  }
  
  .tripList h3 {
    background-color: rgba(255,255,255,.5);
    color: #fff;
    padding: .5rem;
    margin-bottom: 1rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(51,51,51,.7);
    align-self: end;
  }
  
  .trips a {
    border-radius: 3px;
    background-color: #39bae6;
    color: #fff;
    height: 2rem;
    margin-top: 1rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .trips a:hover {
    background-color: #333;
  }
  
  
 /* ############ 5. Gallery ############ */
.gallery {
  max-width: 1200px;
  margin: auto;
}

.gallery h1 {
  text-align: center;
  color: #223055;
  padding: 0 1rem;
  margin-bottom: .5rem;
}

.galleryWrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: .5em;
  grid-auto-flow: row dense;
}

.galleryWrap img[src$="_w.jpg"] {
  grid-column-end: span 2;
}

.galleryWrap img[src$="_p.jpg"] {
  grid-row-end: span 2;
}

.galleryWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* ######### 9. Footer ######### */
footer {
  margin-top: 1rem;
}
/* ######### 9a. Footer > Contact ######### */
.form {
  background-color: #223055;
  color: #fff;
  padding: 1rem 1rem 2rem;
}

.form p {
  font-weight: 300;
  padding-bottom: 1rem;
}
/* ######### 9b. Footer > Connect ######### */
.social, .contactInfo {
  background-color: #13b1e7;
  color: #fff;
  padding: 1rem 1rem 0;
  text-align: center;
}

.social h3 {
  border-bottom: solid 1px #b6e8ff;
  font-weight: 400;
  padding-bottom: .25rem;
}

.socialIcons {
  font-size: 200%;
  padding: 1rem 0;
}

.socialIcons a {
  color: #223055;
  padding: 0 .5rem;
}

.socialIcons a:hover {
  color: #ffc107;
}

.contactInfo {
  padding-top: 0;
}

.contactInfo article {
  border-top: solid 1px #b6e8ff;
  padding: 1rem 0;
}

.contactInfo h4 {
  font-weight: 400;
}

.contactInfo li {
  font-weight: 300;
  list-style-type: none;
}

.copy {
  font-size: 70%;
  font-weight: 300;
  padding-top: 1rem;
}